.container {
  margin-top: 1.5rem;
}

.taskWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  background: var(--gray-500);
}

.taskWrapper + .taskWrapper {
  margin-top: 0.75rem;
}

.task {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.check {
  height: 1.5rem;
  width: 1.5rem;
}

.checkButton {
  height: 17.45px;
  width: 17.45px;

  border: 2px solid var(--blue);
  border-radius: 50%;

  background: 0;

  transition: 0.2s;
}

.checkButton:hover {
  border-color: var(--blue-dark);
  background: rgba(30, 111, 159, 0.3);
}

.checkButtonDone {
  height: 17.45px;
  width: 17.45px;

  background: var(--purple-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 50%;

  font-size: 0;

  transition: 0.2s;
}

.checkButtonDone:hover {
  background: var(--purple);
}

.taskText {
  color: var(--gray-100);
  font-size: 0.875rem;
}

.taskTextDone {
  color: var(--gray-300);
  text-decoration: line-through;
  font-size: 0.875rem;
}

.deleteTaskButton {
  width: 1.5rem;
  height: 1.5rem;

  background: 0;
  color: var(--gray-300);
  border: 0;
  outline: 0;
  font-size: 0;

  transition: 0.2s;
}

.deleteTaskButton:hover {
  background: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
}
