.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.inputButtonWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: -27px;
}

.tasksContainer {
  margin-top: 4rem;
}
