.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counterWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.createdTasksText {
  font-weight: bold;
  color: var(--blue);
}

.counter {
  width: 25px;
  height: 19px;
  border-radius: 999px;

  font-size: 0.75rem;
  font-weight: bold;

  background: var(--gray-400);
  color: var(--gray-200);

  display: flex;
  align-items: center;
  justify-content: center;
}

.completedTasksText {
  font-weight: bold;
  color: var(--purple);
}
