.input {
  height: 54px;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  outline: 0;
  padding: 1rem;

  background: var(--gray-500);
  color: var(--gray-100);

  flex: 1;
}

.input:focus {
  border-color: var(--purple-dark);
}
